

.cuadrado{
    display: block;
    border: solid 1px silver;
    width: 150px;    
    height: 150px;
    margin: 20px;
    background: #ccc;
}

button.activo{    
    font-weight: bold;
    color: yellow;
    background: #03a9f4;
}

.green{
    border-bottom: 7px solid greenyellow;
}

.red{
    border-bottom: 7px solid crimson;
}